<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous"
></script>

<div style="display: flex; flex-direction: column">
  <video
    id="localVideo"
    width="160"
    height="120"
    autoplay
    muted
    controls
  ></video>
  <br />
  <div onclick="publish()">PUBLISH</div>
  <div>REMOTE</div>
  <div id="listRemote" style="display: flex; flex-direction: column"></div>
</div>

<script>
  const listRemoteDiv = document.querySelector("#listRemote");

  let trackBuffer;
  let socket;
  let isPublisher = false;
  const pc = new RTCPeerConnection({
    iceServers: [],
  });

  pc.oniceconnectionstatechange = (ev) => {
    console.log(pc.iceConnectionState);
  };

  pc.ontrack = (ev) => {
    const mid = ev.transceiver.mid;
    if (mid == "0av") return;
    console.log("userId", ev.track.id);
    let streamId = ev.streams[0].id;

    //   const stream = new MediaStream();
    //   stream.addTrack(ev.track);

    ev.streams[0].onremovetrack = ({ track }) => {
      console.log(`${streamId} track was removed.`);
      let video = document.getElementById(`stream-${streamId}`);
      if (video) video.remove();
    };

    let theirVideo = document.getElementById(`stream-${streamId}`);
    if (!theirVideo) {
      theirVideo = document.createElement("video");
      theirVideo.id = `stream-${ev.streams[0].id}`;
      theirVideo.autoplay = false;
      theirVideo.controls = true;
      theirVideo.style.width = "200px";
      listRemoteDiv.appendChild(theirVideo);
    }
    theirVideo.srcObject = ev.streams[0];
  };

  let userId = Date.now();
  console.log(userId);
  socket = io.connect("ws://localhost:3030", {
    reconnection: true,
    extraHeaders: {
      Authorization: `Bearer ${JSON.stringify({ id: userId })}`,
    },
  });

  socket.on("connect", () => {
    console.log("connect", socket.id);
    let search = new URLSearchParams(location.search);

    socket.emit("joinRtcRoom", search.get("roomId") || "test");
  });

  socket.on("offer", async (data) => {
    const { sdp } = JSON.parse(data);
    await pc.setRemoteDescription(sdp);
    pc.getTransceivers()[0].direction = "recvonly";

    if (trackBuffer) {
      const transceiver = pc.getTransceivers().slice(-1)[0];
      if (!transceiver.stopped) {
        transceiver.sender.replaceTrack(trackBuffer);
        transceiver.direction = "sendonly";
      }

      trackBuffer = undefined;
    }

    await pc.setLocalDescription(await pc.createAnswer());
    socket.emit("answer", JSON.stringify({ sdp: pc.localDescription }));
  });

  async function publish() {
    const track = (
      await navigator.mediaDevices.getUserMedia({
        video: false,
        audio: true,
      })
    ).getTracks()[0];
    trackBuffer = track;
    pc.addTrack(track);

    socket && socket.emit("publish");
  }
</script>
